@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

:root {
  --background-light-color: #E19DCB;
  --background-dark-color: #ED54DB;
  --content-background-color: linear-gradient(to right bottom, rgba(255, 255, 255, 0.557), rgba(255, 255, 255, 0.3));
  --primary-color: #c1bfbf;
  --primary-brighter: #aa59fcbf;
  --primary-saturated: #a956ba;
  --primary-saturated-brighter: #b72fc4;
  --accent-color: #900db8;
  --accent-darker: #6a00a7;
  --box-shadow-color: rgba(0,0,0,0.75);
  --modal-overlay-color: rgba(0, 0, 0, 0.3);

  --main-background-gradient: linear-gradient(to right top, var(--background-dark-color) 0%, var(--background-light-color) 100%);
  --primary-gradient: linear-gradient(to right, var(--primary-color) 0%,var(--primary-saturated) 100%);
  --primary-highlight-gradient: linear-gradient(to right top, var(--primary-brighter) 0%,var(--primary-saturated-brighter) 100%);
  /* --box-shadow: 0 1vmin 2vmin -1vmin rgba(0,0,0,0.75); */
  --default-border-radius: 2vmin;
  --default-primary-border: 0.25vmin solid var(--primary-color);
  --default-accent-border: 0.25vmin solid var(--accent-darker);
  --main-title-font-size: 4vmin;

  --selection-animation-duration: 350ms;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center center;
  background: var(--main-background-gradient);
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
}
